@keyframes check-rotation {
    0% {
        transform: rotate(+1turn);
    }

    100% {
        transform: rotate(0turn);
    }
}

@keyframes apparition-progressive {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes background-loader {
    0% {
        opacity: 1;
        pointer-events: auto;
    }

    95% {
        opacity: 1;
        pointer-events: auto;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes spinning {
    to {
        transform: rotate(360deg);
    }
}

@keyframes heart {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1.1);
    }
}
