
.header {
    width: 100%;
    height: 63px;
    box-shadow: 0px 3px 3px lightgrey;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    & a {
        width: fit-content;
        position: absolute;
        left: 24px;
        margin-top: 6px;
        color: #353535;


        & i {
            font-size: x-large;
        }
    }

    &__titlecontainer {
        margin-top: 8px;
        width: 43%;
        min-width: 206.8px;
        height: 30px;
        display: flex;
        justify-content: center;
        position: relative;


        & img {

            max-height: 100%;
            max-width: 100%;
        }
    }

    &--accueil a {
        visibility: hidden;
    }
}

.footer {
    background-color: #353535;

    &__title {
        font-family: 'Shrikhand';
        font-weight: normal;
        font-size: large;
        color: white;
        margin: 0;
        padding-top: 26px;
        padding-bottom: 26px;
        margin-left: 8%;
    }


    &__link {
        display: block;
        color: white;
        text-decoration: none;
        margin-left: 8%;
        padding-bottom: 13px;
        &:hover {
            text-decoration: underline;
        }

        & .fa-solid {
            font-size: normal;
            margin-right: 11px;
        }

        & .fa-handshake-angle {
            font-size: 11px;
        }
    }

    &__mail {
        padding-bottom: 40px;
    }


}

.location {
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #353535;
    background-color: #EAEAEA;

    & .fa-solid {
        display: block;
        position: relative;
        right: 20px;
    }

    & p {
        font-weight: bold;
    }
}

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    text-align: center;

    & h1 {
        margin: 40px 70px 0 70px;
    }

    & p {
        margin: 12px 30px 28px 30px;
        font-weight: 300;
        font-size: large;
    }

    .button {
        margin-bottom: 55px;
    }

}

.button {
    color: white;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    padding: 15px 20px;
    font-size: medium;
    background: linear-gradient(170deg, #ff79da, #9356dc);
    box-shadow: 0 3px 5px 1px rgb(172, 172, 172);
    &:hover{
        cursor: pointer;
    }
}

.fonctionnement {

    margin: 0 23px;

    & h2 {
        margin: 45px 0px 30px 0px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__carte {

            display: flex;
            align-items: center;
            margin-bottom: 20px;
            margin-left: 8px;
            background-color: #F6F6F6;
            border-radius: 25px;
            box-shadow: 0 3px 5px 1px rgb(172, 172, 172);

            &__number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 23px;
                height: 23px;
                color: white;
                font-size: small;
                background-color: #9356dc;
                border-radius: 50%;
                position: relative;
                right: 11.5px;



            }

            &__contenu {

                display: flex;
                align-items: center;
                padding: 27px 0;
                margin-left: 8px;

                & p {
                    margin: 0;
                    margin-left: 25px;
                    font-weight: 500;
                }

                & i {
                    font-size: large;
                    color: #797878;
                }
            }

            &__contenu--two {
                margin-left: 4px;
            }

            &__contenu--three {
                margin-left: 3px;

                & i {
                    color: #9356dc;
                }
            }
        }

        &__carte--three {
            background-color: #F5EDFF;
        }

    }
}

.restaurants {

    background-color: #F6F6F6;

    & h2 {
        margin: 45px 0px 30px 23px;
        padding-top: 55px;
    }

    &__container {
        margin: 0 23px;
        padding-bottom: 60px;

        &__carte {
            display: block;
            text-decoration: none;
            box-shadow: 0 3px 5px 1px rgb(172, 172, 172);
            border-radius: 15px;
            overflow: hidden;
            margin-bottom: 20px;

            &__image {
                height: 175px;
                display: flex;
                overflow: hidden;
                justify-content: end;


                & img {
                    object-fit: cover;
                    max-width: 100%;
                    width: 100%;
                    max-height: 100%;
                    position: initial;
                    z-index: 0;

                }

                & p {
                    font-weight: 500;
                    border-radius: 3px;
                    padding: 7px 12px;
                    z-index: 1;
                    color: #139273;
                    background-color: #99E2D0;
                    position: absolute;
                    margin: 12px 12px;



                }
            }

            &__bottom {
                display: flex;
                color: black;
                justify-content: space-between;
                align-items: center;


                &__text {

                    width: fit-content;
                    margin-left: 13px;

                    & h3 {
                        margin: 0;
                        margin-top: 15px;
                        font-size: large;
                    }

                    & p {
                        margin: 0;
                        margin-top: 3px;
                        margin-bottom: 15px;
                        font-size: 17px;
                        font-weight: 300;
                    }

                }

                & i {
                    display: block;
                    font-size: 25px;
                    margin-right: 20px;
                }
            }
        }


    }
}

.image {
    width: 100%;
    height: 260px;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    z-index: 2;

    & img {
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;
        position: initial;
    }

    &__border {
        background-color: #F6F6F6;
        width: 100%;
        height: 35px;
        border-top-right-radius: 35px 35px;
        border-top-left-radius: 35px 35px;
        z-index: 3;
        position: absolute;
    }
}

.principal {
    background-color: #F6F6F6;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h1 {
            margin: 0 0 0 18px;
            font-family: 'Shrikhand';
            font-weight: normal;
            font-size: 28px;
        }

        & a {
            text-decoration: none;
            color: black;
            width: fit-content;
            margin: 0 36px 0 36px;

            & i {

                display: block;

                font-size: x-large;
            }
        }
    }

    &__article {
        margin: 0 18px;

        &__titles {
            margin: 30px 0 10px 0;

            & h2 {
                margin: 0;
                font-weight: 300;
                text-transform: uppercase;
                font-size: 16px;
            }

            &__underscore {
                width: 40px;
                height: 3px;
                background-color: #99E2D0;
                margin-top: 5px;
            }

        }

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__card {


                display: flex;
                justify-content: space-between;
                align-items: center;
                box-shadow: 0 3px 5px 1px rgb(172, 172, 172);
                overflow: hidden;
                margin: 7px 0 7px 0;
                border-radius: 10px;
                background-color: white;

                &:hover > &__right {
                    margin-right: 0;
                }

                &__text {
                    margin-left: 7px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    & h3 {
                        margin: 0;
                        font-size: 18px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    & h4 {
                        margin: 0;
                        font-weight: 300;
                        font-size: 14.5px;
                        padding-top: 3px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                &__right {

                    width: fit-content;
                    overflow: hidden;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex-shrink: 0;
                    margin-right: -60px;
                    transition-duration: 0.5s;

                    & p {
                        margin: 22px 20px 0 0;
                        font-size: 14.5px;
                        font-weight: bold;


                    }

                    &__animation {

                        background-color: #99E2D0;
                        width: 60px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;




                    }
                }


            }
        }
    }
&__last{
    padding-top: 45px;
    padding-bottom: 75px;
    display: flex;
    justify-content: center;
    .button{
        padding-left: 50px;
        padding-right: 50px;
    }
}
}