$color-header-shadow: #d3d3d3;
$color-footer-background: #353535;
$color-footer-links: #ffffff;
$color-location-background: #EAEAEA;
$color-main-background: #f6f6f6;
$color-button-text: #ffffff;
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-main-shadow: #acacac;
$color-icon-fonctionnement: #797878;
$color-number-fonctionnement: #ffffff;
$color-background-fonctionnement3: #F5EDFF;
$color-texte-nouveau:#139273;
$color-main-texte:#000000;
$color-background-cards: #ffffff;