* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: $color-footer-background;
}
body {
    
   
    min-width: 320px;

    margin: auto;
    background-color: $color-header-background;
}